body {
    width: 800px;
    margin: 0 auto;
    background-image: url(Images/phone_globe.jpg);
    background-repeat: no-repeat
}

main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

h1,h2 {
    text-align: center;
    color: deeppink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
p{
text-align: center;
color: maroon;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 

}

img {
    
    height: 200px;
    width: 200px;
   align-content: center

}
 div {
    border: 5px solid black;
    display: flex;
 }

 .rotate img
{
  animation: rotation .9s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}